.videos-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 20px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

iframe {
    width: calc(32.5% - 20px);
    height: 315px;
    margin: 10px;
}